<h1>Hello, world!-in first line</h1>
<h2>ipaddress: <%= node['ipaddress'] %></h2>
<h2>hostname: <%= node['hostname'] %></h2>


<h2> CPU Model : <%= node['cpu']['0']['model'] %> </h2>

<h2> Company Name : <%= node['company']['name'] %></h2>

My first change
